In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sn

In [2]:
train = pd.read_csv('train.csv')
test = pd.read_csv('test.csv')

In [3]:
train.isnull().sum()

id                                     0
perc_premium_paid_by_cash_credit       0
age_in_days                            0
Income                                 0
Count_3-6_months_late                 97
Count_6-12_months_late                97
Count_more_than_12_months_late        97
application_underwriting_score      2974
no_of_premiums_paid                    0
sourcing_channel                       0
residence_area_type                    0
premium                                0
target                                 0
dtype: int64

In [10]:
train['Count_3-6_months_late'].fillna(0 , inplace = True)

In [11]:
train['Count_6-12_months_late'].fillna(0 , inplace = True)

In [12]:
train['Count_more_than_12_months_late'].fillna(0 , inplace = True)

In [14]:
train['application_underwriting_score'].fillna(train['application_underwriting_score'].mean() , inplace = True)

In [27]:
train.shape

(79853, 12)

In [16]:
train = train.drop('premium', axis = 1)
xtrain = train.drop('target', axis = 1)

In [21]:
test['Count_3-6_months_late'].fillna(0 , inplace = True)

In [22]:
test['Count_6-12_months_late'].fillna(0 , inplace = True)

In [23]:
test['Count_more_than_12_months_late'].fillna(0 , inplace = True)

In [24]:
test['application_underwriting_score'].fillna(test['application_underwriting_score'].mean() , inplace = True)

In [26]:
test.shape

(34224, 11)

In [28]:
result = test['id']
xtest = test.drop('id', axis = 1)
xtrain = xtrain.drop('id', axis = 1)
ytrain = train['target']

In [29]:
xtrain.shape

(79853, 10)

In [30]:
xtest.shape

(34224, 10)

In [31]:
xtrain_dummy = pd.get_dummies(xtrain)

In [32]:
xtest_dummy = pd.get_dummies(xtest)

In [33]:
xtrain_dummy.shape

(79853, 15)

In [34]:
xtest_dummy.shape

(34224, 15)

In [35]:
xtest_dummy['Income'] = np.log(xtest_dummy['Income'])

In [94]:
xtrain_dummy['Income'] = xtrain['Income']/xtrain['Income'].mean()

In [37]:
from sklearn.tree import DecisionTreeClassifier

In [96]:
xtest_dummy['Income'] = xtest['Income']/xtest['Income'].mean()

In [90]:
xtrain_dummy.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
0,0.429,0.639794,12.780042,0.0,0.0,0.0,0.999523,1.196625,0,0,1,0,0,0,1
1,0.010,1.143224,12.660804,0.0,0.0,0.0,1.008305,1.933010,1,0,0,0,0,0,1
2,0.917,0.930190,11.340237,2.0,3.0,1.0,0.996192,0.644337,0,0,1,0,0,1,0
3,0.049,0.813989,12.431254,0.0,0.0,0.0,1.005074,0.828433,1,0,0,0,0,0,1
4,0.052,1.666074,12.199451,0.0,0.0,0.0,1.008103,1.104577,0,1,0,0,0,0,1

In [80]:
xtrain_dummy['age_in_days'] = xtrain['age_in_days']/xtrain['age_in_days'].mean()

In [65]:
xtest_dummy['application_underwriting_score'] = xtest['application_underwriting_score']/xtest['application_underwriting_score'].mean()

In [66]:
xtest_dummy['no_of_premiums_paid'] = xtest['no_of_premiums_paid']/xtest['no_of_premiums_paid'].mean()

In [60]:
xtrain_dummy = xtrain_dummy.drop('age_in days', axis = 1 )

In [97]:
xtest_dummy.shape

(34224, 15)

In [81]:
xtrain_dummy.head()

,perc_premium_paid_by_cash_credit,age_in_days,Income,Count_3-6_months_late,Count_6-12_months_late,Count_more_than_12_months_late,application_underwriting_score,no_of_premiums_paid,sourcing_channel_A,sourcing_channel_B,sourcing_channel_C,sourcing_channel_D,sourcing_channel_E,residence_area_type_Rural,residence_area_type_Urban
0,0.429,0.639794,12.780042,0.0,0.0,0.0,0.999523,1.196625,0,0,1,0,0,0,1
1,0.010,1.143224,12.660804,0.0,0.0,0.0,1.008305,1.933010,1,0,0,0,0,0,1
2,0.917,0.930190,11.340237,2.0,3.0,1.0,0.996192,0.644337,0,0,1,0,0,1,0
3,0.049,0.813989,12.431254,0.0,0.0,0.0,1.005074,0.828433,1,0,0,0,0,0,1
4,0.052,1.666074,12.199451,0.0,0.0,0.0,1.008103,1.104577,0,1,0,0,0,0,1

In [38]:
model = DecisionTreeClassifier()

In [98]:
model.fit(xtrain_dummy, ytrain)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
            max_features=None, max_leaf_nodes=None,
            min_impurity_decrease=0.0, min_impurity_split=None,
            min_samples_leaf=1, min_samples_split=2,
            min_weight_fraction_leaf=0.0, presort=False, random_state=None,
            splitter='best')

In [40]:
model.predict(xtest_dummy)

array([1, 1, 1, ..., 1, 0, 1])

In [72]:
subb2 = pd.DataFrame()

In [99]:
subb2['target'] = model.predict(xtest_dummy)

In [100]:
subb2.head()

   target
0       1
1       1
2       1
3       1
4       1

In [101]:
model.score(xtrain_dummy, ytrain)

1.0

In [102]:
results2 = pd.concat([result, subb2], axis = 1)

In [103]:
results2.head()

      id  target
0    649       1
1  81136       1
2  70762       1
3  53935       1
4  15476       1

In [104]:
results2.to_csv('results4.csv', header = True, index = False)